:root {
  /* fonts */
  --sans-serif: "Kanit", helvetica, arial, sans-serif;
  --serif: "Kanit", garamond, serif;

  /* typography */
  --paragraph-size: calc(var(--unit) * 5);

  /* colors */
  --primary: #457b9d;
  --primary-dark: #1d3557;
  --secondary: #231f20;

  /* grid */
  --unit: 4px;

  /* misc */
  --transition: 300ms ease-in;

  @media print {
    --unit: 3pt;
    --paragraph-size: calc(var(--unit) * 4);
  }
}
